extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome!

    p My name is Terrance Ford and I am a 24 year old web developer located in Richmond, Virginia. My portfolio consists of 9 projects that collectively implements HTML5, CSS3, JavaScript, Express JS, React JS, Node JS, Regex, SQL(Sequelize), and Pug(Jade). My most notable projects is #[a(href="/projects/4") #{"Public API Requests"}], #[a(href="/projects/7") #{"Sql Data Manager"}], and #[a(href="/projects/8") #{"Full Stack React CRUD App"}].

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        
        a.cell(href=`/projects/${project.id}`)
          img.thumbnail(src=`${project.image_url[0]}` alt=`${project.project_name} image`)
          h5= project.project_name

