extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome!

    p  My name is a Terrance Ford and I'm an IT professional based in Raleigh, North Carolina. The projects below use various technologies such as React.js, Vanilla Javascript, HTML, CSS, PostgreSQL, Node.js, and several others. More simple apps are hosted on Github pages as others are hosted on #[a(href="https://www.netlify.com/"  target="_blank") #{"Netlify"}] for the front-end, #[a(href="https://www.heroku.com/?utm_source=microsoft&utm_medium=paid_search&utm_campaign=amer_heraw&utm_content=general-branded-search-rsa&utm_term=Heroku&utm_source_platform=microsoftAds&msclkid=fa08530302e4144740f734c1354ef679"  target="_blank") #{"Heroku"}] for the back-end, and #[a(href="https://neon.tech/" target="_blank") #{"Neon"}] for the database.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        
        a.cell(href=`/projects/${project.id}`)
          img.thumbnail(src=`${project.image_url[0]}` alt=`${project.project_name} image`)
          h5= project.project_name